@import "../../app.scss";

.navbar{
    height: 6.5rem;

    .wrapper{
        max-width: 1350px;
        margin: auto;
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 100%;

        @include mobile{
            justify-content: flex-end;
            padding: 1.25rem;
        }
    }

    span{
        font-weight: bold;
        margin-left: 2rem;
        cursor: pointer;

        @include mobile{
            display: none;
        }
    }

    .social{
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 1rem;

        img{
            width: 1.5rem;
            height: 1.5rem;
        }
    }
}